
.body{
    background-color: #f2f3f4;
   
   
    
}

.box{
    box-shadow: 6px 6px 6px 6px ;
    background-image: linear-gradient( #6c757d , purple );
   
}

.login{
   
  
 
   box-shadow: 4px 4px 4px 4px;
    font-size: 20px;
    font-weight: 200px;
    font-style: italic;
}

.form{
    box-shadow: 4px 4px 4px 5px;
}

.google{
    background-image: linear-gradient( #6c757d , purple );
    padding:5px;
    font-size: 20px;
    font-weight: 200px;
}